body {
  font-family: "Roboto", sans-serif;
  second-family: "Raleway", sans-serif;
  font-weight: regular;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 2%;
  color: #2e2f42;
  background-color: #ffffff;
  font-style: big;
  color: #434455;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}
img {
  display: block;
  max-width: 100%;
}
button {
  cursor: pointer;
}
title,
h1 {
  font-weight: bold;
  font-size: 56px;
  line-height: 1.07;
}

h2 {
  font-weight: bold;
  font-size: 36px;
  text-align: center;
}

h3 {
  font-weight: medium;
  font-size: 20px;
}
.header {
  border-bottom: 1px solid #e7e9fc;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-nav {
  display: flex;
  align-items: center;
}
.header-logo {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  display: flex;
  align-items: center;
  margin-right: 76px;
  margin-left: auto;
}
.header-logo-span {
  color: #2e2f42;
  text-decoration: none;
}
.header-ul {
  display: flex;
  gap: 40px;
  margin-right: auto;
  margin-left: auto;
}
.header-li {
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

*/ .header-li-a:hover,
.header-li-a:focus {
  color: #404bbf;
}
.header-li-a:active,
.header-li-a:hover {
  color: #404bbf;
  text-decoration: none;
}

.header-li-a {
  padding-top: 24px;
  padding-bottom: 24px;
  color: #2e2f42;

  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  display: block;
  position: relative;
  /* color: #404bbf; */
  text-align: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.headear-li-a-pseudo {
  position: relative;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-li-a.headear-li-a-pseudo::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  display: block;
  width: 100%;
  border-radius: 2px;
  height: 4px;
  background: #404bbf;
}
.headear-li-a-pseudo:active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  display: block;
  width: 100%;
  border-radius: 2px;
  height: 4px;
  color: #404bbf;
}

.header-address {
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.header-address-ul {
  display: flex;
  gap: 40px;
  /* margin-top: 24px;
  margin-bottom: 24px; */
}
.header-address-mp {
  color: #434455;
  text-decoration: none;
  font-weight: regular;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 2%;
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-address-mp:hover,
.header-address-mp:focus {
  color: #404bbf;
}
.section-hero {
  background-color: #2e2f42;
  color: #ffffff;
  font-weight: bold;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 2%;
  text-align: center;
  padding: 188px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/hero-image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  /* background-image: rgba(46, 47, 66, 0.7); */
}
.hero-container {
  display: block;
  justify-content: center;
  padding-top: 188px;
  padding-bottom: 188px;
  padding-left: 331px;
  padding-right: 331px;
}
.h-hero {
  font-weight: bold;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  max-width: 496px;
  margin-bottom: 48px;
  margin-right: auto;
  margin-left: auto;
}
.button {
  background-color: #4d5ae5;
  color: #ffffff;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border-radius: 4px;
  padding: 16px 32px;
  border: none;
  min-width: 169px;
  height: 56px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}
.button:hover,
.button:focus {
  background-color: #404bbf;
}
.advantages-container {
  display: flex;
  /* align-items: center; */
}
.section-advantages {
  padding-top: 120px;
  padding-bottom: 120px;
}
.hh-advantages {
  font-weight: 500;
  color: #2e2f42;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.advantages {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.ul-advantages {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.advantages-li {
  width: calc((100% - 72px) / 4);
}
.advantages-form-icons {
  border: 1px solid #8e8f99;
  border-radius: 4px;
  width: 264px;
  height: 112px;
  background: #f4f4fd;
  margin-bottom: 8px;
}
.advanteges-icons {
  display: block;
  margin-top: 24px;
  margin-right: 100px;
  margin-bottom: 24px;
  margin-left: 100px;
}
.our-team {
  background-color: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 120px;
}
.h-our-team {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}
.our-team-item {
  background-color: #ffffff;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}
.our-team-item-wrap {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-links {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 24px;
  min-width: 232px;
  min-height: 40px;
  margin-top: 8px;
  margin-bottom: 32px;
}
.social-linksx {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 24px;
  min-width: 232px;
  min-height: 40px;
  margin-top: 8px;
  margin-bottom: 32px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-linksx:hover .our-team-item-wrap {
  background-color: #404bbf;
}
.our-team-item-p {
  display: block;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
}

.our-team-ul {
  display: flex;
  gap: 24px;
}
.li-our-team {
  background-color: #ffffff;
  /* margin-right: 24px; бо тоді до останнього треьа писати окремо 0 */
  flex-basis: calc((100% - 3 * 24px) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.li-our-team:hover .our-team-item-wrap {
  background-color: #404bbf;
}

.our-team-name-position {
  padding: 32px 0;
}
.icon-social-media {
  fill: #ffffff;
  display: block;
  padding-top: 12px;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 12px;
}
.icon-social-media-footer {
  fill: #ffffff;
  display: block;
  padding-top: 8px;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 8px;
}

.portfolio-container {
  /* margin-top: 120px;
  margin-bottom: 120px; */
}
.section-portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}
.h-our-portfolio {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}
.portfolio-ul {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  row-gap: 48px;
}
.container-li-portfolio {
  /* padding: 32px 0; */
  margin: 32px 16px;
  /* border: 1px solid #e7e9fc; */
  border-top: none;
}
.container-li-li {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.li-portfolio {
  background-color: #ffffff;
  width: 360px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.li-portfolio:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.li-portfolio:hover .cashless-overflow {
  transform: translateY(0);
}
.text-overflow-cont {
  position: relative;
  overflow: hidden;
}
.cashless-overflow {
  position: absolute;
  top: 0;
  background-color: #4d5ae5;
  width: 360px;
  height: 300px;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  transform: translateY(100%);
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 40px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hh-our-portfolio {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-top: 32px;
  margin-bottom: 8px;
}
.p-our-portfolio {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.footer-container {
  /* display: inline-block; */
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.footer-container-two {
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  display: block;
}
.footer-logo {
  font-weight: bold;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  margin-bottom: 16px;
  display: inline-block;
}
.footer-logo-span {
  color: #f4f4fd;
  text-decoration: none;
}
.footer {
  background-color: #2e2f42;
  padding: 100px 0;
  z-index: 1000;
}
.p-footer {
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
  max-width: 264px;
  align-items: center;
}
.footer-ul {
  display: flex;
  gap: 120px;
  align-items: baseline;
}
.social-links {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-links:hover .our-team-item-wrap {
  background-color: #31d0aa;
}
.pp-footer {
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
  max-width: 264px;
  margin-bottom: 16px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1158px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}
