body {
  font-family: "Roboto", sans-serif;
  second-family: "Raleway", sans-serif;
  font-weight: regular;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 2%;
  color: #2e2f42;
  background-color: #ffffff;
  font-style: big;
  color: #434455;
}
.hidden {
  display: none;
}
ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

button {
  cursor: pointer;
  font-family: "Roboto", sans-serif;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}
img {
  display: block;
  max-width: 100%;
}
button {
  cursor: pointer;
}
title,
h1 {
  font-weight: bold;
  font-size: 56px;
  line-height: 1.07;
}

h2 {
  font-weight: bold;
  font-size: 36px;
  text-align: center;
}

h3 {
  font-weight: medium;
  font-size: 20px;
}
.container {
  max-width: 320px;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.header {
  border-bottom: 1px solid #e7e9fc;
  /* position: fixed;
  top: 0;
  left: 0;
  width: 100%; */
  /* z-index: 999; */
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-ul,
.header-address {
  display: none;
}
.header-nav {
  display: flex;
  align-items: center;
}
.header-logo {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  padding: 16px 0;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* display: flex;
  align-items: center;
  margin-right: 76px;
  margin-left: auto; */
}
.header-logo:hover,
.header-logo:focus,
.header-logo:active,
.header-logo-span:hover,
.header-logo-span:focus,
.header-logo-span:active {
  color: #404bbf;
}

.header-logo-span {
  color: #2e2f42;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.burger-btn {
  padding: 0;
  border: none;
  background-color: transparent;
}
.burger-icon {
  display: block;
  fill: #2f2f37;
}
@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }
  .header-ul {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .header-logo {
    padding: 24px 0;
    margin-right: 120px;
    display: block;
  }

  .header-address {
    font-style: normal;
    display: block;
  }
  .header-nav {
    display: flex;
    align-items: center;
  }

  .header-li-a {
    display: block;
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-li-a.current {
    position: relative;
    color: #404bbf;
  }

  .header-li-a.current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
  }

  .header-li-a:hover,
  .header-li-a:focus,
  .mheader-li-a.current::after {
    color: #404bbf;
  }

  .header-address-ul {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .header-address-mp {
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header-address-mp:hover,
  .header-address-mp:focus {
    color: #404bbf;
  }
}
@media screen and (min-width: 1158px) {
  .header-logo {
    margin-right: 76px;
  }

  .header-address-ul {
    flex-direction: row;
    align-items: center;
    gap: 40px;
  }
  .header-address-mp {
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}
/* .header-ul {
  display: flex;
  gap: 40px;
  margin-right: auto;
  margin-left: auto;
}
.header-li {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*.header-li-a:hover,
.header-li-a:focus {
  color: #404bbf;
}
.header-li-a:active,
.header-li-a:hover {
  color: #404bbf;
  text-decoration: none;
} *

.header-li-a {
  padding-top: 24px;
  padding-bottom: 24px;
  color: #2e2f42;

  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  display: block;
  position: relative;
  /* color: #404bbf;
  text-align: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.headear-li-a-pseudo {
  position: relative;
  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-li-a.headear-li-a-pseudo::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  display: block;
  width: 100%;
  border-radius: 2px;
  height: 4px;
  background: #404bbf;
}
.headear-li-a-pseudo:active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  display: block;
  width: 100%;
  border-radius: 2px;
  height: 4px;
  color: #404bbf;
}

.header-address {
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.header-address-ul {
  display: flex;
  gap: 40px;
  /* margin-top: 24px;
  margin-bottom: 24px;} */

/* .header-address-mp {
  color: #434455;
  text-decoration: none;
  font-weight: regular;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 2%;
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-address-mp:hover,
.header-address-mp:focus {
  color: #404bbf;
}  */
.mob-nav-list {
}
.mob-contact-list {
}
.mob-contact-link {
}
.mob-soc-list {
}
.social-media-item {
}
.social-media-icons {
}
.social-media-svg {
}
.section-hero {
  /* background-color: #2e2f42;
  color: #ffffff;
  font-weight: bold;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 2%;
  text-align: center;
  padding-top: 188px;
  padding-bottom: 188px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/hero-bg-mob.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 1440px;
  margin: 0 auto; */

  padding: 72px 0;
  margin: auto;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-bg-mob.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: #2e2f42;
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
  screen and (min-resolution: 192dpi) and (max-width: 767px),
  screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .section-hero {
    background-image: linear-gradient(
        to right,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-bg-mob@2x.jpg);
  }
}
.hero-container {
  /* display: block;
  justify-content: center;

  padding-left: 331px;
  padding-right: 331px; */
  display: flex;
  align-items: center;
  flex-direction: column;
}
.h-hero {
  /* font-weight: bold;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  max-width: 496px;
  padding: 72px 52px; */
  /* margin-bottom: 48px;
  margin-right: auto;
  margin-left: auto; */
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  margin-bottom: 48px;
  max-width: 216px;
}
.button {
  /* background-color: #4d5ae5;
  color: #ffffff;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border-radius: 4px;
  padding: 16px 32px;
  border: none;
  min-width: 169px;
  height: 56px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); */
  border: none;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  min-width: 169px;
  height: 56px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover,
.button:focus {
  background-color: #404bbf;
}
@media screen and (min-width: 768px) {
  .section-hero {
    padding: 112px 0;
    margin: auto;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-bg-tab.jpg);
  }
  @media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
    screen and (min-resolution: 192dpi) and (min-width: 768px),
    screen and (min-resolution: 2dppx) and (min-width: 768px) {
    .section-hero {
      background-image: linear-gradient(
          to right,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero-bg-tab@2x.jpg);
    }
  }
  .h-hero {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
    margin-bottom: 36px;
  }

  .button {
    background-color: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .button:hover,
  .button:focus {
    background-color: #404bbf;
  }
}
@media screen and (min-width: 1158px) {
  .section-hero {
    padding-top: 188px;
    padding-bottom: 188px;
    max-width: 1440px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-image.jpg);
  }
  @media screen and (min-device-pixel-ratio: 2) and (min-width: 1158px),
    screen and (min-resolution: 192dpi) and (min-width: 1158px),
    screen and (min-resolution: 2dppx) and (min-width: 1158px) {
    .section-hero {
      background-image: linear-gradient(
          to right,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero-bg-desk@2x.jpg);
    }
  }
  .h-hero {
    margin-bottom: 48px;
  }
}
.advantages-container {
  display: flex;
  /* align-items: center; */
}
.section-advantages {
  /* padding-top: 120px;
  padding-bottom: 120px; */
  padding: 96px 0;
}
.hh-advantages {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  /* font-weight: 500;
  color: #2e2f42;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px; */
  margin-bottom: 8px;
}
.advantages {
  /* color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em; */

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.ul-advantages {
  /* display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px; */
  display: flex;
  flex-wrap: wrap;
  gap: 72px 24px;
}
.advantages-li {
  width: 100%;
}
.advantages-form-icons {
  display: none;
}
@media screen and (min-width: 768px) {
  .ul-advantages {
  }

  .hh-advantages {
    text-align: left;
    font-size: 36px;
  }

  .advantages-li {
    width: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .section-advantages {
    padding: 120px 0;
  }

  .ul-advantages {
    gap: 24px;
    justify-content: center;
    margin-left: 0;
    margin-right: 0;
  }

  .advantages-form-icons {
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 100%;
    height: 112px;
    background-color: #f4f4fd;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
  }

  .advantages-li {
    width: calc((100% - 72px) / 4);
  }

  .hh-advantages {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 8px;
  }

  .advantages {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
  }
}
.our-team {
  background-color: #f4f4fd;
  padding-top: 96px;
  padding-bottom: 96px;
}
.h-our-team {
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  text-transform: capitalize;
}
.our-team-ul {
  display: flex;
  flex-direction: column;
  gap: 72px;
  align-items: center;
}
.li-our-team {
  border-radius: 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  background-color: #ffffff;
}
.container-li-portfolio {
  padding: 16px 0;
}
.our-team-item {
  text-align: center;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.our-team-item-p {
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  margin-bottom: 16px;
}
.social-linksx {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.our-team-item-wrap-a {
  width: 40px;
  height: 40px;
}
.our-team-item-wrapp {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.our-team-item-wrapp:hover,
.our-team-item-wrapp:focus {
  background-color: #404bbf;
}

.our-team-item-wrap {
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-links {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 24px;
}

.our-team-item-wrap:focus,
.our-team-item-wrap:hover {
  background-color: #404bbf;
}
.icon-social-media {
  fill: #f4f4fd;
}

@media screen and (min-width: 768px) {
  .our-team {
    padding-top: 96px;
    padding-bottom: 96px;
  }
  .h-our-team {
    margin-bottom: 48px;
    font-size: 32px;
  }

  .our-team-ul {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 64px 24px;
    justify-content: center;
    align-items: center;
  }

  .our-team-item {
    font-size: 20px;
  }

  .our-team-item-p {
    font-size: 16px;
  }
  .social-linksx {
    gap: 24px;
  }

  .li-our-team {
    width: 40px;
    height: 40px;
  }
}

@media screen and (min-width: 1158px) {
  .our-team {
    padding: 120px 0;
  }
  .our-team-ul {
    gap: 24px;
  }

  .h-our-team {
    margin-bottom: 72px;
    font-size: 36px;
  }
}

.section-portfolio {
  padding: 96px 0;
}
.h-our-portfolio {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}

.portfolio-ul {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.container-li-li {
  padding: 32px 16px;
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
}

.li-portfolio {
  width: 100%;
}

.li-portfolio {
  background: #fff;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.li-portfolio:hover .cashless-overflow,
.li-portfolio:focus .cashless-overflow {
  transform: translateY(0%);
}

.li-portfolio:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.text-overflow-cont {
  position: relative;
  overflow: hidden;
}

.cashless-overflow {
  height: 100%;
  position: absolute;
  top: 0;
  background-color: #4d5ae5;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hh-our-portfolio {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.p-our-portfolio {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

@media screen and (min-width: 768px) {
  .section-portfolio {
    padding: 96px 0;
  }

  .portfolio-ul {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
  }

  .li-portfolio {
    width: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .section-portfolio {
    padding: 120px 0;
  }

  .h-our-portfolio {
    margin-bottom: 72px;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
  }

  .li-portfolio {
    width: calc((100% - 48px) / 3);
    background: #fff;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .li-portfolio:hover .cashless-overflow,
  .li-portfolio:focus .cashless-overflow {
    transform: translateY(0%);
  }

  .li-portfolio:hover {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
      0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  }

  .text-overflow-cont {
    position: relative;
    overflow: hidden;
  }

  .cashless-overflow {
    height: 100%;
    position: absolute;
    top: 0;
    background-color: #4d5ae5;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .portfolio-ul {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
  }

  .hh-our-portfolio {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
  }

  .p-our-portfolio {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
  }
}
.footer {
  background-color: #2e2f42;
  padding: 96px 0;
}
.footer-container {
  display: flex;
  flex-direction: column;
  gap: 72px;
  align-items: center;
}
.footer-logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-bottom: 16px;
  display: block;
  text-align: center;
}
.footer-logo-span {
  color: #f4f4fd;
}
.footer-logo-span:hover,
.footer-logo-span:focus,
.footer-logo-span:active {
  color: #404bbf;
}

.p-footer {
  max-width: 264px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
.pp-footer,
.modal-footer-form-label {
  text-align: center;
}
.pp-footer {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}
.social-links.social-links-f {
  gap: 16px;
}

.our-team-item-wrap.our-team-item-wrap-f:hover,
.our-team-item-wrap.our-team-item-wrap-f:focus {
  background-color: #31d0aa;
}

.modal-footer-form-label {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}

.form-footerr {
  gap: 24px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.modal-footer-input {
  border: 1px solid #ffffff;
  border-radius: 4px;
  width: 264px;
  height: 40px;
  background-color: transparent;
  padding-left: 16px;
  color: #ffffff;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.modal-footer-input::placeholder {
  color: #ffffff;
}

.submit-footer {
  border-radius: 4px;
  min-width: 165px;
  height: 40px;
  background-color: #4d5ae5;
  border: none;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.iconsend {
  fill: #fff;
  margin-left: 16px;
}

.submit-footer:focus,
.submit-footer:hover {
  background-color: #31d0aa;
}
@media only screen and (min-width: 768px) {
  .footer-container {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    gap: 72px 24px;
    padding-left: 108px;
  }
  .footer-logo,
  .pp-footer,
  .modal-footer-form-label {
    text-align: left;
  }
  .form-footer {
    flex-direction: row;
  }
}

@media screen and (min-width: 1158px) {
  .footer {
    padding: 100px 0;
  }
  .footer-container {
    padding-left: 15px;
    gap: 0;
  }

  .footer-container-one {
    margin-right: 120px;
  }

  .footer-container-two {
    margin-right: auto;
  }
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  padding: 72px 16px 24px 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 288px;
  z-index: 999;
  min-height: 623px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background-color: #fcfcfc;
  border-radius: 4px;
  transform: translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop:not(.is-open) .modal {
  transform: translate(-50%, -100%);
}

.modal-close-btn {
  border-radius: 50%;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px;
  position: absolute;
  top: 24px;
  right: 24px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  width: 24px;
  height: 24px;
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: #404bbf;
  border: none;
}

.modal-close-btn:hover .modal-close-btn-icon,
.modal-close-btn:focus .modal-close-btn-icon {
  fill: #ffffff;
}

.close-icon {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modaxl-tet {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}

.form-wrapper-cont {
  margin-bottom: 8px;
}

.form-wrapper-cont-coment {
  margin-bottom: 16px;
}
.modal-form-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}

.modal-cont-input {
  position: relative;
}

.modal-input {
  outline: transparent;
  background-color: transparent;
  width: 100%;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  height: 40px;
  padding-left: 38px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  border-color: #4d5ae5;
  outline: transparent;
}

.modal-icon {
  fill: #2e2f42;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 16px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus + .modal-icon {
  fill: #4d5ae5;
}

.user-comment {
  outline: transparent;
  background-color: transparent;
  color: rgba(46, 47, 66, 0.4);
  letter-spacing: 0.04em;
  line-height: 1.17;
  font-size: 12px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 120px;
  resize: none;
  padding: 8px 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.user-comment:focus {
  border-color: #4d5ae5;
  outline: transparent;
}

.user-comment::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.modal-cont-checkbox {
  margin-bottom: 24px;
}

.custom-label-user-checkbox {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: flex;
  gap: 8px;
  align-items: center;
}

.custom-checkbox {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  cursor: pointer;
  fill: transparent;
  margin-left: 8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked {
  background-color: #404bbf;
  border-color: #404bbf;
}

.contact-form-checkbox:checked
  + .contact-form-checkbox-label
  .contact-form-own-checkbox {
  background-color: #404bbf;
  border-color: #404bbf;
  fill: #f4f4fd;
  border: none;
}

.checkbox:focus + .custom-label-user-checkbox .custom-checkbox {
  outline: 1px solid rgba(46, 47, 66, 0.4);
}

.privacy-policy {
  line-height: 1.33;
  text-decoration: underline;
  color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-form-btn-submit {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  border-radius: 4px;
  min-width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: none;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-btn-submit:focus {
  background-color: #404bbf;
}

@media only screen and (min-width: 768px) {
  .modal {
    width: 408px;
    padding: 72px 24px 24px;
  }
}

@media only screen and (min-width: 1158px) {
  .modal {
    min-height: 584px;
  }
}

/* #region mobile menu */

.mobile-menu {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #fff;
  padding: 72px 16px 40px 16px;
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.menu-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  height: 24px;
  width: 24px;
  background-color: transparent;
  border-radius: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  line-height: 0;
}
.modal-close-btn-icon {
}
.mob-nav-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 148px;
}
.mob-nav-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.mob-nav-link.current {
  color: #404bbf;
}
.mob-contact-list {
  display: flex;
  gap: 24px;
  flex-direction: column;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 48px;
}

.mob-contact-link {
  color: #2e2f42;
}

.mob-contact-link.current {
  color: #4d5ae5;
}

.mob-soc-list {
  display: flex;
  gap: 40px;
}

@media only screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
