body {
  font-family: "Roboto", sans-serif;
  second-family: "Raleway", sans-serif;
  font-weight: regular;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 2%;
  color: #2e2f42;
  background-color: #ffffff;
  font-style: big;
  color: #434455;
}
button {
  cursor: pointer;
}
title,
h1 {
  font-weight: bold;
  font-size: 56px;
  line-height: 1.07;
}

h2 {
  font-weight: bold;
  font-size: 36px;
  text-align: center;
}

h3 {
  font-weight: medium;
  font-size: 20px;
}

ul {
  list-style-type: none;
}
.header-logo {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #4d5ae5;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
}
.header-logo-span {
  color: #2e2f42;
  text-decoration: none;
}
.header-nav-li:hover {
  color: #404bbf;
}
.header-nav-li:active {
  color: #404bbf;
  text-decoration: underline;
}
.header-nav-li {
  color: #2e2f42;
  text-decoration: none;
  font-weight: medium;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 2%;
}

.header-nav-address {
  color: #2e2f42;
  text-decoration: none;
  font-weight: regular;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 2%;
}
.header-nav-address:hover,
.header-nav-address:focus {
  color: #404bbf;
}
.section-hero {
  background-color: #2e2f42;
  color: #ffffff;
  font-weight: bold;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 2%;
  text-align: center;
}
.button {
  background-color: #4d5ae5;
  color: #ffffff;
  text-align: center;
}
.button:hover {
  background-color: #404bbf;
  color: #ffffff;
}
.advantages {
  color: #434455;
  font-weight: regular;
}
.h-advantages {
  visibility: hidden;
}
.footer-logo {
  font-weight: bold;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
}
.footer-logo-span {
  color: #2e2f42;
  text-decoration: none;
}
